@inherits TableBase
@inject HttpClient Http
@inject IToastService toastService



<PageTitle>Lines</PageTitle>

<BlazoredToasts></BlazoredToasts>

<div class="d-flex flex-column mb-3">
    <div class="p-2">
        <RadzenHtml Visible="IsVisible">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
               
                @if (IsCrudFrozen == false)
                {
                        @if (IsNewRowCanAdded)
                        {
                            <div class="d-flex flex-row-reverse">
                                <div class="p-2">
                                    <AddRowButton OnClick="InsertRow" Text="Add Line" Disabled="false" />
                                </div>
                            </div>
                            
                        }               
                }
                </div>
            </div>
        </RadzenHtml>


    </div>
    <div class="p-2">
        <RadzenDataGrid Visible="IsVisible" @ref="linesGrid" AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4" 
                        AllowSorting="true" Data="@Data" TItem="Line"  SelectionMode="DataGridSelectionMode.Single">
                        
            <Columns>         

                <RadzenDataGridColumn  Visible="false" TItem="Line" Property="LineId" Title="Id" Width="100px" />

                <RadzenDataGridColumn TItem="Line" Width="150px" Property="Name" Title="Line Name" Frozen="IsCrudFrozen">
                    <EditTemplate Context="line" >
                        <RadzenTextBox @bind-Value="line.Name" Style="width:200px; display: block" Name="LineName" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn  TItem="Line" Property="ProductionRate" 
                                      Title="Rate" Frozen="IsCrudFrozen" Width="150px">
                    <EditTemplate Context="line">
                        <RadzenNumeric @bind-Value="line.ProductionRate" Style="width:100%; display: block;" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                    @*from here crud buttons*@
                    <RadzenDataGridColumn Width="150px"  TItem="Line" Context="line" Filterable="false" Sortable="false"
                                      TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                        <Template Context="line">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(line))" @onclick:stopPropagation="true">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(line))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                        <EditTemplate Context="line">
                            <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(line))">
                            </RadzenButton>
                            <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(line))">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(line))">
                            </RadzenButton>
                        </EditTemplate>
                    </RadzenDataGridColumn>                

            </Columns>
        </RadzenDataGrid>

    </div>
</div>


@code {

    [Parameter]
    public bool Distinct { get; set; }

    [Parameter]
    public List<Line>? Data { get; set;}

    private DataGridEditMode editMode = DataGridEditMode.Single;
    private RadzenDataGrid<Line>? linesGrid = new();
    private List<Line> linesToInsert = new List<Line>();
    private List<Line> linesToUpdate = new List<Line>();
    private IList<Line>? fetchedLines;
    private List<string>? hourOptions;
    private string[] daysOfTheWeek = new string[8];
    private Line selectedOne = new();

    protected override async Task OnInitializedAsync()
    {
        if(Distinct)
            Data = Data.Distinct().ToList();


        //set workhours to each row
        hourOptions = Enumerable.Range(0, 24)
                                .Select(hour => new TimeOnly(hour, 0)
                                .ToString())
                                .OrderDescending()
                                .ToList();

        //set days of week vocabulaty
        daysOfTheWeek = new string[]
        {
            "Sunday", "Monday" ,"Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"

        };

        //assign the first row of the to selectedLines
        await base.OnInitializedAsync();
    }

    protected async Task AddLine(Line line)
    {
        try
        {
            using var data = await Http.PostAsJsonAsync("configuration/postnewline", line);
            var message = data.Content.ReadFromJsonAsync<string>();
            toastService.ShowSuccess("The data is added succesfully");
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);

        }

    }

    protected async Task UpdateLine(Line line)
    {
        try
        {
            using var data = await Http.PostAsJsonAsync("configuration/updateline", line);
            var message = data.Content.ReadFromJsonAsync<string>();
            toastService.ShowSuccess("The data is updated succesfully");
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);

        }
    }

    private async Task RemoveLine(Line line)
    {
        try
        {
            using var data = await Http.PostAsJsonAsync("configuration/removeline", line);
            var message = data.Content.ReadFromJsonAsync<string>();
            toastService.ShowSuccess(message.Result);


        }catch(Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }

    private void Reset()
    {
        linesToInsert.Clear();
        linesToUpdate.Clear();
    }

    private void Reset(Line line)
    {
        linesToInsert.Remove(line);
        linesToUpdate.Remove(line);
    }

    private async Task EditRow(Line line)
    {
        if (editMode == DataGridEditMode.Single && linesToInsert.Count() > 0)
        {
            Reset();
        }

        linesToUpdate.Add(line);
        await linesGrid.EditRow(line);
    }

    private void OnUpdateRow(Line line)
    {
        Reset(line);
        //update
    }

    //green button
    private async Task SaveRow(Line line)
    {

        if (line.LineId is 0)
        {
            await linesGrid.UpdateRow(line);
            await AddLine(line);
            return;
        }

        await linesGrid.UpdateRow(line);
        await UpdateLine(line);
    }

    private void CancelEdit(Line line)
    {
        Reset(line);
        linesGrid.CancelEditRow(line);
    }

    private async Task DeleteRow(Line line)
    {
        //cleaning linesToInsert and LinesToUpdate
        Reset(line);

        if (Data.Contains(line))
        {
            Data.Remove(line);

            if(line.LineId != 0)
                await RemoveLine(line);
        }
        await linesGrid.Reload();
    }

    private async Task InsertRow()
    {
        if (editMode == DataGridEditMode.Single)
        {
            Reset();
        }

        var line = new Line();
        selectedOne = line;
        linesToInsert.Add(selectedOne);
        await linesGrid.InsertRow(selectedOne);
    }

    private void OnCreateRow(Line line)
    {
    
        linesToInsert.Remove(line);
    }

    

 
}